h1{
    color: blue;
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url("https://www.google.co.in/url?sa=i&url=https%3A%2F%2Fwww.indiamart.com%2Fproddetail%2Fyamaha-yzf-r15-v-3-0-bike-22434838697.html&psig=AOvVaw2QkkmvUkdjdTPrtnGF1EYx&ust=1646809899311000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNjJy4_7tfYCFQAAAAAdAAAAABAD");
}